*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}

#wrapper{
    height: 93.5vh;
}

/*Header*/
header{
    display: flex;
    align-items: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: black;
}

header .fs-4{
    font-family: 'Pattaya', sans-serif;
}

header img{
width: 10vw;
}

.flecha{
    width: 10vh;
    position: absolute;
    right: 13vw;
    top: 12vh;
    z-index: 1;
}
/*Main*/
.btn-outline-secondary{
    background-color: black;
    color: white;
}

.fotoIndex{
    display: flex;
    justify-content: center;
   
}

.fotoIndex img{
    max-width: 48vw;
}

.formContent{
    display: flex;
    width: 55vw;
    flex-direction: column;
    padding: 2vw;

}

.formulario{
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border-radius: 1%;
}

.formAbuelo{
    display: flex;
    justify-content: center;
min-height: 80vh;
}

.cards img{
    max-width: 100vw;
    height: 40vh;
}

.cards p{
    max-height: 20vw;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.cards .card:hover{
    box-shadow:  10px 10px 10px 10px black;
    
}

 .cards .card{
    height: 80vh;
    margin:1vw;
    padding: 1vw;
    border: 2px solid;
    min-width: 30vw;
} 

.cards .card-body{
    overflow: auto;
    
}

.card-title{
    text-align: center;
    
}

.precio{
font-weight: bold;
font-family: 'Pattaya', sans-serif;
padding-top: 1vw;
}

.stock{
    padding-top: 1vw;
    font-weight: bold;
    font-family: 'Pattaya', sans-serif;
}



.card-price{
    display: flex;
    justify-content: space-between;
}

.boton-comprar{
    padding: 1vw;
    align-self: center;
  display: flex;
}

.boton-comprar button{
    background-color: black;
}

.boton-comprar button:hover{
    box-shadow: -1px 15px 10px grey ;
    
}
/*Footer*/

footer{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    
}



footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(131, 128, 128, 0.5) ;
    width: 50vw;
}

footer div button{
    border: none;
}

footer p{
    font-family: 'Pattaya', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    margin-top: 1vw;
}

footer img{
    width: 4vw;
}

/*Modal*/
.btn-primary {
    background-color: black;
    border: none;

}
.btn-primary:hover {
background-color: black;
}

.modal {
    position: fixed;
     top: 0; 
     left: 0; 
    z-index: 1060;
    display: none;
   
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-content {
   position: fixed;
border: none;
background-color: rgb(0, 0, 0, 0.8)!important;
color: white;
height: 80vh;
width: 50vw;
overflow: auto;
}

.modal-content div img{
    max-width:4vw;
    
}

.modal-header{
    border: none;

}

.removerCompra{
    width: 2vw;
    background-color: black;
    color: white;
    
}

.modal-body h2, h3{
    text-align: center;
    margin-bottom: 2vw;
}

.modal-body img{
    width: 5vw;
    margin-right: 1vw;
    margin-top: 1vh;
}
.modal-body{
display: flex;
flex-direction: column;
justify-content: center;
padding:0 4vw;
}

.modal-body .checkout{
    align-self: center;
}

.modal-body a{
   padding: 2vw;
   font-size: 20px;
   background-color: black;
}

.modal-body a:hover{
    background-color: grey;
}

.modal-footer{
    border: none;
}
.btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: black!important;
    border: none!important;
    box-shadow: none;
}

